--
-- PostgreSQL database dump
--

\restrict 96LphQCGGnR7ZQtsGBjv3sKEqkrMIxnPSUxqKUh6jAVSQIG7pBhwmjmTAmRbfaj

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cellzone; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cellzone (
    cellzone_id integer NOT NULL,
    ward_id integer,
    name character varying(100) NOT NULL
);


ALTER TABLE public.cellzone OWNER TO postgres;

--
-- Name: cellzone_cellzone_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cellzone_cellzone_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cellzone_cellzone_id_seq OWNER TO postgres;

--
-- Name: cellzone_cellzone_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cellzone_cellzone_id_seq OWNED BY public.cellzone.cellzone_id;


--
-- Name: district; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.district (
    district_id integer NOT NULL,
    subregion_id integer,
    name character varying(100) NOT NULL,
    type character varying(20) NOT NULL,
    CONSTRAINT district_type_check CHECK (((type)::text = ANY ((ARRAY['Rural'::character varying, 'City'::character varying, 'Municipality'::character varying, 'TownCouncil'::character varying])::text[])))
);


ALTER TABLE public.district OWNER TO postgres;

--
-- Name: district_district_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.district_district_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.district_district_id_seq OWNER TO postgres;

--
-- Name: district_district_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.district_district_id_seq OWNED BY public.district.district_id;


--
-- Name: division; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.division (
    division_id integer NOT NULL,
    district_id integer,
    name character varying(100) NOT NULL
);


ALTER TABLE public.division OWNER TO postgres;

--
-- Name: division_division_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.division_division_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.division_division_id_seq OWNER TO postgres;

--
-- Name: division_division_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.division_division_id_seq OWNED BY public.division.division_id;


--
-- Name: household; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.household (
    household_id integer NOT NULL,
    head_name character varying(100) NOT NULL,
    primary_phone character varying(15) NOT NULL,
    alternate_contact character varying(15),
    region_id integer,
    subregion_id integer,
    district_id integer,
    subcounty_id integer,
    parish_id integer,
    village_id integer,
    gps_latitude double precision NOT NULL,
    gps_longitude double precision NOT NULL,
    land_size double precision,
    plot_characteristics character varying(50),
    num_members integer,
    primary_income character varying(50),
    past_orchard_experience boolean,
    water_source character varying(50),
    payment_method character varying(20),
    mobile_money_number character varying(15),
    bank_name character varying(100),
    bank_account_number character varying(50),
    agreed_to_credit_terms boolean NOT NULL,
    registration_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    registered_by integer,
    registration_status character varying(20) DEFAULT 'Pending'::character varying,
    rejection_reason character varying(200),
    CONSTRAINT household_land_size_check CHECK ((land_size >= (0)::double precision)),
    CONSTRAINT household_num_members_check CHECK ((num_members >= 1))
);


ALTER TABLE public.household OWNER TO postgres;

--
-- Name: household_household_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.household_household_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.household_household_id_seq OWNER TO postgres;

--
-- Name: household_household_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.household_household_id_seq OWNED BY public.household.household_id;


--
-- Name: parish; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parish (
    parish_id integer NOT NULL,
    subcounty_id integer,
    name character varying(100) NOT NULL
);


ALTER TABLE public.parish OWNER TO postgres;

--
-- Name: parish_parish_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parish_parish_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parish_parish_id_seq OWNER TO postgres;

--
-- Name: parish_parish_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parish_parish_id_seq OWNED BY public.parish.parish_id;


--
-- Name: region; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.region (
    region_id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.region OWNER TO postgres;

--
-- Name: region_region_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.region_region_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.region_region_id_seq OWNER TO postgres;

--
-- Name: region_region_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.region_region_id_seq OWNED BY public.region.region_id;


--
-- Name: subcounty; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subcounty (
    subcounty_id integer NOT NULL,
    district_id integer,
    name character varying(100) NOT NULL
);


ALTER TABLE public.subcounty OWNER TO postgres;

--
-- Name: subcounty_subcounty_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subcounty_subcounty_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subcounty_subcounty_id_seq OWNER TO postgres;

--
-- Name: subcounty_subcounty_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subcounty_subcounty_id_seq OWNED BY public.subcounty.subcounty_id;


--
-- Name: subregion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subregion (
    subregion_id integer NOT NULL,
    region_id integer,
    name character varying(100) NOT NULL
);


ALTER TABLE public.subregion OWNER TO postgres;

--
-- Name: subregion_subregion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subregion_subregion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subregion_subregion_id_seq OWNER TO postgres;

--
-- Name: subregion_subregion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subregion_subregion_id_seq OWNED BY public.subregion.subregion_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash text NOT NULL,
    role character varying(20) DEFAULT 'FieldOfficer'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: village; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.village (
    village_id integer NOT NULL,
    parish_id integer,
    name character varying(100) NOT NULL
);


ALTER TABLE public.village OWNER TO postgres;

--
-- Name: village_village_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.village_village_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.village_village_id_seq OWNER TO postgres;

--
-- Name: village_village_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.village_village_id_seq OWNED BY public.village.village_id;


--
-- Name: ward; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ward (
    ward_id integer NOT NULL,
    parent_type character varying(20) NOT NULL,
    parent_id integer NOT NULL,
    name character varying(100) NOT NULL,
    CONSTRAINT ward_parent_type_check CHECK (((parent_type)::text = ANY ((ARRAY['Division'::character varying, 'TownCouncil'::character varying])::text[])))
);


ALTER TABLE public.ward OWNER TO postgres;

--
-- Name: ward_ward_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ward_ward_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ward_ward_id_seq OWNER TO postgres;

--
-- Name: ward_ward_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ward_ward_id_seq OWNED BY public.ward.ward_id;


--
-- Name: cellzone cellzone_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cellzone ALTER COLUMN cellzone_id SET DEFAULT nextval('public.cellzone_cellzone_id_seq'::regclass);


--
-- Name: district district_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.district ALTER COLUMN district_id SET DEFAULT nextval('public.district_district_id_seq'::regclass);


--
-- Name: division division_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.division ALTER COLUMN division_id SET DEFAULT nextval('public.division_division_id_seq'::regclass);


--
-- Name: household household_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.household ALTER COLUMN household_id SET DEFAULT nextval('public.household_household_id_seq'::regclass);


--
-- Name: parish parish_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parish ALTER COLUMN parish_id SET DEFAULT nextval('public.parish_parish_id_seq'::regclass);


--
-- Name: region region_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.region ALTER COLUMN region_id SET DEFAULT nextval('public.region_region_id_seq'::regclass);


--
-- Name: subcounty subcounty_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcounty ALTER COLUMN subcounty_id SET DEFAULT nextval('public.subcounty_subcounty_id_seq'::regclass);


--
-- Name: subregion subregion_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subregion ALTER COLUMN subregion_id SET DEFAULT nextval('public.subregion_subregion_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: village village_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.village ALTER COLUMN village_id SET DEFAULT nextval('public.village_village_id_seq'::regclass);


--
-- Name: ward ward_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ward ALTER COLUMN ward_id SET DEFAULT nextval('public.ward_ward_id_seq'::regclass);


--
-- Data for Name: cellzone; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cellzone (cellzone_id, ward_id, name) FROM stdin;
1	1	Namirembe Hill
2	2	Kakoba Central
3	3	Layibi Central
\.


--
-- Data for Name: district; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.district (district_id, subregion_id, name, type) FROM stdin;
1	9	Kabale	Rural
2	9	Rukungiri	Rural
3	9	Kisoro	Rural
4	9	Kanungu	Rural
5	1	Kampala	City
6	7	Mbarara	Municipality
7	12	Gulu	City
\.


--
-- Data for Name: division; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.division (division_id, district_id, name) FROM stdin;
1	5	Central Division
2	6	Mbarara City North
3	7	Pece-Laroo
\.


--
-- Data for Name: household; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: parish; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.parish (parish_id, subcounty_id, name) FROM stdin;
1	1	Kigata
2	1	Butare
3	2	Nyakinengo
4	3	Gasiza
\.


--
-- Data for Name: region; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.region (region_id, name) FROM stdin;
1	Central
2	Eastern
3	Western
4	Northern
\.


--
-- Data for Name: subcounty; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subcounty (subcounty_id, district_id, name) FROM stdin;
1	1	Bubare
2	1	Kamuganguzi
3	2	Nyakagyeme
4	3	Nyakabande
\.


--
-- Data for Name: subregion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subregion (subregion_id, region_id, name) FROM stdin;
1	1	Buganda
2	2	Bugisu
3	2	Elgon
4	2	Bukedi
5	2	Busoga
6	2	Teso
7	3	Ankole
8	3	Bunyoro
9	3	Kigezi
10	3	Rwenzori
11	3	Toro
12	4	Acholi
13	4	Lango
14	4	West Nile
15	4	Karamoja
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, full_name, email, password_hash, role, created_at) FROM stdin;
1	Test User	test@example.com	$2b$10$TXhPg9guFVoygQRKAejQD.TCosD4ktG6/GxmCXDegRd1mpev.L4SO	FieldOfficer	2025-10-06 17:43:06.47108
2	demo man	demo2@example.com	$2b$10$NoasDFEZnfVt5Qa.uDPlbeuMPkexY5qKehIVKxYP15X6Z8qmZ4UpK	FieldOfficer	2025-10-06 18:05:07.943783
\.


--
-- Data for Name: village; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.village (village_id, parish_id, name) FROM stdin;
1	1	Kigata A
2	1	Kigata B
3	2	Butare Central
4	3	Gasiza Hill
\.


--
-- Data for Name: ward; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ward (ward_id, parent_type, parent_id, name) FROM stdin;
1	Division	1	Old Kampala
2	Division	2	Kakoba
3	Division	3	Layibi
\.


--
-- Name: cellzone_cellzone_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cellzone_cellzone_id_seq', 3, true);


--
-- Name: district_district_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.district_district_id_seq', 7, true);


--
-- Name: division_division_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.division_division_id_seq', 3, true);


--
-- Name: household_household_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.household_household_id_seq', 2, true);


--
-- Name: parish_parish_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parish_parish_id_seq', 4, true);


--
-- Name: region_region_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.region_region_id_seq', 4, true);


--
-- Name: subcounty_subcounty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subcounty_subcounty_id_seq', 4, true);


--
-- Name: subregion_subregion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subregion_subregion_id_seq', 15, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 2, true);


--
-- Name: village_village_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.village_village_id_seq', 4, true);


--
-- Name: ward_ward_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ward_ward_id_seq', 3, true);


--
-- Name: cellzone cellzone_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cellzone
    ADD CONSTRAINT cellzone_pkey PRIMARY KEY (cellzone_id);


--
-- Name: district district_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.district
    ADD CONSTRAINT district_pkey PRIMARY KEY (district_id);


--
-- Name: division division_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.division
    ADD CONSTRAINT division_pkey PRIMARY KEY (division_id);


--
-- Name: household household_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.household
    ADD CONSTRAINT household_pkey PRIMARY KEY (household_id);


--
-- Name: parish parish_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parish
    ADD CONSTRAINT parish_pkey PRIMARY KEY (parish_id);


--
-- Name: region region_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.region
    ADD CONSTRAINT region_pkey PRIMARY KEY (region_id);


--
-- Name: subcounty subcounty_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcounty
    ADD CONSTRAINT subcounty_pkey PRIMARY KEY (subcounty_id);


--
-- Name: subregion subregion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subregion
    ADD CONSTRAINT subregion_pkey PRIMARY KEY (subregion_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: village village_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.village
    ADD CONSTRAINT village_pkey PRIMARY KEY (village_id);


--
-- Name: ward ward_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ward
    ADD CONSTRAINT ward_pkey PRIMARY KEY (ward_id);


--
-- Name: cellzone cellzone_ward_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cellzone
    ADD CONSTRAINT cellzone_ward_id_fkey FOREIGN KEY (ward_id) REFERENCES public.ward(ward_id) ON DELETE CASCADE;


--
-- Name: district district_subregion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.district
    ADD CONSTRAINT district_subregion_id_fkey FOREIGN KEY (subregion_id) REFERENCES public.subregion(subregion_id) ON DELETE CASCADE;


--
-- Name: division division_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.division
    ADD CONSTRAINT division_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.district(district_id) ON DELETE CASCADE;


--
-- Name: household household_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.household
    ADD CONSTRAINT household_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.district(district_id);


--
-- Name: household household_region_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.household
    ADD CONSTRAINT household_region_id_fkey FOREIGN KEY (region_id) REFERENCES public.region(region_id);


--
-- Name: household household_registered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.household
    ADD CONSTRAINT household_registered_by_fkey FOREIGN KEY (registered_by) REFERENCES public.users(user_id);


--
-- Name: household household_subregion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.household
    ADD CONSTRAINT household_subregion_id_fkey FOREIGN KEY (subregion_id) REFERENCES public.subregion(subregion_id);


--
-- Name: parish parish_subcounty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parish
    ADD CONSTRAINT parish_subcounty_id_fkey FOREIGN KEY (subcounty_id) REFERENCES public.subcounty(subcounty_id) ON DELETE CASCADE;


--
-- Name: subcounty subcounty_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcounty
    ADD CONSTRAINT subcounty_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.district(district_id) ON DELETE CASCADE;


--
-- Name: subregion subregion_region_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subregion
    ADD CONSTRAINT subregion_region_id_fkey FOREIGN KEY (region_id) REFERENCES public.region(region_id) ON DELETE CASCADE;


--
-- Name: village village_parish_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.village
    ADD CONSTRAINT village_parish_id_fkey FOREIGN KEY (parish_id) REFERENCES public.parish(parish_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 96LphQCGGnR7ZQtsGBjv3sKEqkrMIxnPSUxqKUh6jAVSQIG7pBhwmjmTAmRbfaj

